docker-compose.dev.yml
log/*.log
tmp/**/*
*/vendor/cache/*
.DS_Store
._*
.DS_Store
.AppleDouble
:2e_*
.svn
public/assets
public/system
public/files
.idea
capybara*.html
coverage
storage
*.swp
*.swn
*.swo
.ruby-gemset
.ruby-version
coverage
*.esproj
.powrc
.bundle
*/.bundle/*
*/spec/reports/*.xml
.tags
Gemfile.lock
